.custom-nav {
  background-color: #155592;
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-brand:hover {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: hsla(0, 0%, 100%, 0.5);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: hsla(0, 0%, 100%, 0.75);
}

.navbar-light .navbar-nav .nav-link.active {
  color: white;
  text-decoration: underline;
}
